@font-face {
  font-family: 'Whitney';
  src: url('https://raw.githubusercontent.com/prvd24/misc/refs/heads/main/css/assets/Whitney.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  font-weight: normal;
  src: url('https://raw.githubusercontent.com/prvd24/misc/refs/heads/main/css/assets/Whitney-Italic.woff');
  font-style: italic;
  font-display: swap;
}

div.notion-page-content {
  font-family: "Whitney", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 120%;
}

[contenteditable]:empty::after {
  content: "";
}
