@font-face {
  font-family: 'Inter';
  src: url('https://raw.githubusercontent.com/prvd24/misc/refs/heads/main/css/assets/Inter.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-weight: normal;
  src: url('https://raw.githubusercontent.com/prvd24/misc/refs/heads/main/css/assets/Inter-Italic.woff');
  font-style: italic;
  font-display: swap;
}

p {
  font-family: Inter;
  font-size: 120%;
}

div.notion-page-content {
  font-family: "Inter" !important;
  font-size: 1.1rem !important;
}

.notion-page-controls {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
}

h1.notranslate {
  font-size: 80% !important;
}

[contenteditable]:empty::after {
  content: " ";
}
